<p>We are interested in understanding the principles and mechanisms of locomotion and developing bio-inspired robotic systems capable of agile and robust motion, particularly for legged applications. Various mobile systems are built, studied, and evaluated using analytical, simulation, and experimental approaches. Research activities involve bio-inspired design, mechanical design, mechatronic systems, sensor applications, system dynamics, modeling, control, system integration, gait analysis, locomotion, and bio-materials.</p>
