<h2>Director</h2>
<ul class="contact-list">
  <li>Pei-Chun Lin, Distinguished Professor</li>
  <li>Phone: +886-2-3366-9747</li>
  <li>Fax: +886-2-2363-1755</li>
  <li>Email: <a href="mailto:peichunlin@ntu.edu.tw">peichunlin@ntu.edu.tw</a></li>
  <li>Personal homepage: <a href="http://peichunlin.me.ntu.edu.tw/">peichunlin.me.ntu.edu.tw</a></li>
</ul>
<h2>Lab</h2>
<ul class="contact-list">
  <li>Bio-inspired Robotics Laboratory (BioRoLa)</li>
  <li>Phone: {{ site.phone }}</li>
  <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
</ul>
<h2>Locations</h2>
<ul class="contact-list">
  <li>Address: No. 1, Sec. 4, Roosevelt Road, Taipei 106319, Taiwan</li>
  <li>Office: <a href="https://map.ntu.edu.tw/index.html?height=435&amp;cx=13529752.92795945&amp;cy=2878095.4798576054&amp;layer=bnR1X2J1aWxkaW5nX2JvdW5k&amp;apKey=MTkwNg==">Dept. of Mechanical Engineering, Tsung Cho Chang Hall Room 707</a></li>
  <li>Lab: <a href="https://map.ntu.edu.tw/index.html?height=435&amp;cx=13529752.92795945&amp;cy=2878095.4798576054&amp;layer=bnR1X2J1aWxkaW5nX2JvdW5k&amp;apKey=MTkwNg==">Dept. of Mechanical Engineering, Tsung Cho Chang Hall Room 710</a></li>
</ul>
<img class="map" src="/pic/ntumap_My Lab_2024.jpg" sizes="(max-width: 639px) 100vw, 640px" alt="NTU campus map showing the lab's location">
