---
title: Pei-Chun Lin, Distinguished Professor
---
<figure class="director-photo"><img src="/pic/teacher.jpg" sizes="(max-width: 639px) 100vw, 568px" width="568" height="332" alt="Professor Pei-Chun Lin"></figure>
<ul class="contact-list">
  <li>Distinguished Professor, Department of Mechanical Engineering, National Taiwan University</li>
  <li>Tsung Cho Chang Hall Room 707, No. 1, Sec. 4, Roosevelt Road, Taipei 106319, Taiwan</li>
  <li>Tel: +886-2-3366-9747</li>
  <li>Fax: +886-2-2363-1755</li>
  <li>Email: <a href="mailto:peichunlin@ntu.edu.tw">peichunlin@ntu.edu.tw</a></li>
  <li>Personal website: <a href="http://peichunlin.me.ntu.edu.tw/">peichunlin.me.ntu.edu.tw</a></li>
</ul>
