<p>實驗室歡迎對實驗室所進行研究相關議題有興趣的博士生、碩士生、和專題生加入，一起探索「運動」的世界。研究步程一般由工程面切入，訓練機器人系統建置和整合的能力，逐步進展到科學面，以建置的系統，來探索運動的機制與其和生物端的對應。</p>

<p>不論是專題生或是碩博士生，進入實驗室所進行的研究主題與內容均會落在「探索運動」這一個架構下，但會隨著學生本身所學專長和對議題接觸時間的不同，而會有不同的切入方式。</p>

<p>實驗室培育學生最核心的本質學能，在複雜系統的整合能力，以及學理與實驗的對應與平衡。</p>
