<h2>指導教授</h2>
<ul class="contact-list">
  <li>林沛群 特聘教授</li>
  <li>電話：02-3366-9747</li>
  <li>傳真：02-2363-1755</li>
  <li>電子信箱：<a href="mailto:peichunlin@ntu.edu.tw">peichunlin@ntu.edu.tw</a></li>
  <li>個人網頁：<a href="http://peichunlin.me.ntu.edu.tw/">peichunlin.me.ntu.edu.tw</a></li>
</ul>
<h2>實驗室</h2>
<ul class="contact-list">
  <li>仿生機器人實驗室（Bio-inspired Robotics Laboratory, BioRoLa）</li>
  <li>電話：{{ site.phone }}</li>
  <li>電子信箱：<a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
</ul>
<h2>地點</h2>
<ul class="contact-list">
  <li>地址：106319 臺北市羅斯福路四段一號</li>
  <li>辦公室：<a href="https://map.ntu.edu.tw/index.html?height=435&amp;cx=13529752.92795945&amp;cy=2878095.4798576054&amp;layer=bnR1X2J1aWxkaW5nX2JvdW5k&amp;apKey=MTkwNg==">機械系 宗倬章館 707室</a></li>
  <li>實驗室：<a href="https://map.ntu.edu.tw/index.html?height=435&amp;cx=13529752.92795945&amp;cy=2878095.4798576054&amp;layer=bnR1X2J1aWxkaW5nX2JvdW5k&amp;apKey=MTkwNg==">機械系 宗倬章館 710室</a></li>
</ul>
<img class="map" src="/pic/ntumap_My Lab_2024.jpg" alt="臺大校園地圖，標示實驗室位置">
