<p>仿生機器人實驗室（Bio-inspired Robotics Laboratory，簡稱 BioRoLa）的研究主軸，在於探索與研發各式可以產生運動的系統，從瞭解分析生物與非生物之運動行為本質開始（外顯現象和內在的物理機制），建立適合的運動模型，進而推展到「人造系統」之設計、製造、機電架設、系統控制、運動行為分析與規劃、造最後的系統整合。於科學面，冀望以發展移動機器人之方式，來輔助探討生物於不同外在環境下在運動方式上的演化與發展；於工程面，則試圖整合人類工程發展上現有之智識，來開發可應用於多樣化外在環境下之各式運動平台。</p>

<p>簡單來說，研究是以 <span class="accent-orange">motion</span> 問題為核心，尤其著力在<span class="accent-green">Loco</span><span class="accent-orange">motion</span>議題上，並向外延伸。</p>
