---
title: 林沛群 特聘教授
---
<figure class="director-photo"><img src="/pic/teacher.jpg" width="568" height="332" alt="林沛群教授"></figure>
<ul class="contact-list">
  <li>國立臺灣大學 機械工程學系 特聘教授</li>
  <li>106319 臺北市羅斯福路四段一號 宗倬章館 707室</li>
  <li>電話：02-3366-9747</li>
  <li>傳真：02-2363-1755</li>
  <li>電子信箱：<a href="mailto:peichunlin@ntu.edu.tw">peichunlin@ntu.edu.tw</a></li>
  <li>個人網頁：<a href="http://peichunlin.me.ntu.edu.tw/">peichunlin.me.ntu.edu.tw</a></li>
</ul>
